<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" defaultHref="/tabs-s"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Suscriptor</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-segment [(ngModel)]="segment" scrollable>
    <ion-segment-button value="profile" checked>
      <ion-label>Perfil</ion-label>
    </ion-segment-button>
    <ion-segment-button value="routines">
      <ion-label>Rutinas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diets">
      <ion-label>Dietas</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'profile'">


      <ion-grid fixed class="ion-no-margin ion-no-padding">
        <ion-row>
          <ion-col offset-lg="3" size-lg="6" size-md="12">
            <div class="ion-text-center">
              <img class="img-profile m-2" src="/assets/icons/user.svg" />
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-lg="3" size-lg="6" size-md="12">
            <div class="ion-text-center">
              <ion-text>
                <h4>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quam aspernatur at perferendis distinctio
                  tenetur quo veniam corporis hic modi est error, tempore placeat illo amet mollitia ex. Cumque,
                  necessitatibus deserunt.</h4>
              </ion-text>
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col offset-lg="3" size-lg="6" size-md="12">
            <ion-list>
              <ion-list-header>
                <ion-label><b>Información personales</b></ion-label>
              </ion-list-header>
              <ion-item>
                <ion-label>
                  Nombre:
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Edad:
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Peso:
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Altura:
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Correo:
                </ion-label>
              </ion-item>
              <ion-item>
                <ion-label>
                  Teléfono:
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-grid>


    </div>

    <div *ngSwitchCase="'routines'">
      <ion-text class="ion-text-center">
        <h6>Rutinas para la semana</h6>
      </ion-text>
      <ion-list class="ion-padding">
        <ion-item *ngFor="let item of ['Lunes','Martes','Miercoles','Jueves','Viernes','Sábado','Domingo']">
          <ion-label>{{item}}</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="r1">Rutina {{item}}</ion-select-option>
            <ion-select-option value="r2">Rutina {{item}}</ion-select-option>
            <ion-select-option value="r3">Rutina {{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

    <div *ngSwitchCase="'diets'">
      <ion-text class="ion-text-center">
        <h6>Dietas para la semana</h6>
      </ion-text>
      <ion-list class="ion-padding">
        <ion-item *ngFor="let item of ['Lunes','Martes','Miercoles','Jueves','Viernes','Sábado','Domingo']">
          <ion-label>{{item}}</ion-label>
          <ion-select interface="popover">
            <ion-select-option value="r1">Dieta {{item}}</ion-select-option>
            <ion-select-option value="r2">Dieta {{item}}</ion-select-option>
            <ion-select-option value="r3">Dieta {{item}}</ion-select-option>
          </ion-select>
        </ion-item>
      </ion-list>
    </div>

  </div>




</ion-content>