<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-buttons>
        <ion-back-button text="" defaultHref="/tabs-s"></ion-back-button>
      </ion-buttons>
    </ion-buttons>
    <ion-title>Detalle ejercicio</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="post">
    <div class="post-content">
      <div class="post-description">
        <ion-text color="white">
          Carga: 40 Kg. <br>
          Series: 12<br>
          Repeticiones: 4<br>
          Descanso: 1 min.<br>
        </ion-text>
      </div>
      <!-- <ion-fab vertical="bottom" horizontal="end" class="fab-home">
        <ion-fab-button size="small">
          <ion-icon size="small" src="/assets/icons/goodme.svg"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
          <ion-fab-button>
            <ion-icon name="star" color="primary"></ion-icon>
          </ion-fab-button>
          <ion-fab-button>
            <ion-icon name="person-add" color="primary"></ion-icon>
          </ion-fab-button>
        </ion-fab-list>
      </ion-fab> -->
    </div>
    <img height="100%" width="100%"
      src="https://images.unsplash.com/photo-1573124356790-446c0081d9ff?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80"
      alt="">
  </div>
</ion-content>