
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="dark">

      <ion-tab-button tab="home">
        <ion-icon  src="/assets/icons/home.svg"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="routines-coach">
        <ion-icon  src="/assets/icons/routines.svg"></ion-icon>
        <ion-label>Rutinas</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="diets-coach">
        <ion-icon src="/assets/icons/diet.svg"></ion-icon>
        <ion-label>Dietas</ion-label>
      </ion-tab-button>
  
      <ion-tab-button tab="profile">
        <ion-icon src="/assets/icons/profile.svg"></ion-icon>
        <ion-label>Perfil</ion-label>
      </ion-tab-button>

    </ion-tab-bar>
  </ion-tabs>
