<ion-content>
  <ion-segment [(ngModel)]="segment" scrollable>
    <ion-segment-button value="routines" checked>
      <ion-label>Rutinas</ion-label>
    </ion-segment-button>
    <ion-segment-button value="exercises">
      <ion-label>Ejercicios</ion-label>
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="segment">

    <div *ngSwitchCase="'routines'">

      <ion-list class="ion-padding">

        <ion-item routerLink="/form-routine">
          <ion-label color="primary">
            <h2>Crear nuevo</h2>
          </ion-label>
          <ion-icon slot="end" color="primary" name="add"></ion-icon>
        </ion-item>

        <ion-item *ngFor="let item of [1,1,1,1,1,1]">
          <ion-label>
            <h2>Nombre rutina</h2>
          </ion-label>
          <ion-icon slot="end" name="more"></ion-icon>
        </ion-item>
      </ion-list>

    </div>

    <div *ngSwitchCase="'exercises'">

      <ion-grid fixed class="ion-no-margin ion-no-padding">
        <ion-row class="mp-0">

          <ion-col size="4" class="mp-0">
            <div align="center" class="p-1">
              <div class="add-content p-1" style="margin: 0px;">
                <ion-fab-button routerLink="/form-exercise">
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </div>
            </div>
          </ion-col>

          <ion-col class="mp-0" size="4" *ngFor="let item of [1,1,1,1,1,1]">
            <div class="card-portrait p-1">
              <img class="img-card-portrait"
                src="https://images.unsplash.com/photo-1520334435999-d992362bb3ad?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=598&q=80" />
              <div class="card-content">
                <div class="card-description">
                  <ion-text color="white">
                    Lorem ipsum dolor
                  </ion-text>
                </div>
                <div class="card-options">
                  <div class="ion-text-center">
                    <ion-icon name="more" color="white"></ion-icon>
                    <!-- <ion-checkbox color="primary"></ion-checkbox> -->
                  </div>
                </div>
              </div>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
      
    </div>

  </div>




</ion-content>